@import "../../config/styles.scss";

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  text-align: center;
}

.date-selection {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;

  .date-month {
    flex-grow: 1;
  }

  .date-buttons {
    display: flex;
    gap: 0.5rem;
  }
}

.calendar-date {
  padding: 0.3rem 1rem;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:not(.inactive) {
    cursor: pointer;
  }
  transition: 0.2s;

  .calendar-date-num {
    margin: 0.3rem 0;
  }

  &.inactive {
    background-color: transparent;
    color: #777;
  }

  &.active {
    background-color: rgba($color, 0.2);
  }

  &:hover:not(.inactive) {
    background-color: #cecece;
  }

  &:active:not(.inactive),
  &.selected {
    background-color: #c0c0c0 !important;
  }

  border-radius: 0.3rem;
}

.calendar-dates .day {
  font-size: 1.2rem;
  color: #777;
}

.calendar-date-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;

  .calendar-date-tag {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
  }
}
