$color: #3498db;

body {
  background-color: #dbdbdb;
  font-family: "Nunito";
}

.container {
  margin: 0 auto;
}

.app {
  margin: 0 auto;
  width: fit-content;
}

.main {
  max-width: 30rem;
}

button {
  border: none;
  background-color: $color;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  transition: 0.2s;
  &:hover {
    background-color: darken($color, 5%);
  }

  &:active {
    background-color: darken($color, 10%);
  }

  .text {
    margin: 0.3rem;
    font-family: "Nunito";
  }
}

.add-new {
  margin-top: 0.5rem;
  width: 100%;
}
