$color: #3498db;
$danger: #e74c3c;

* {
  box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
  font-family: "Nunito";
}

.container {
  margin: 0 auto;
}

.app {
  margin: 0 auto;
  width: fit-content;
  display: flex;
}

.main {
  width: 35rem;
}

button {
  border: none;
  background-color: $color;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  transition: 0.2s;
  &:hover {
    background-color: darken($color, 5%);
  }

  &:active {
    background-color: darken($color, 10%);
  }

  .text {
    margin: 0.3rem;
    font-family: "Nunito";

    &:first-child {
      margin: 0.2rem 0.7rem;
    }
  }
}

.add-new {
  margin-top: 0.5rem;
  width: 100%;
}

input {
  background-color: #f4f4f4;
  border: 1px solid #b3b3b3;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.6rem 0.3rem;
  outline: 0;

  transition: 0.2s;
  &:focus {
    border-color: $color;
    background-color: #f0f0f0;
  }
}
